html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('tchola.jpg'); /* A imagem deve estar na mesma pasta que este HTML */
  background-size: amcover; 

  background-repeat: no-repeat;
}
